.tabs {
    position: relative;

    .tab-header-wrap {
        padding: 0 1px;

        @media (min-width: 769px) {
          display: flex !important;
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }

        &:nth-child(n + 3) {
            overflow: hidden;
            position: relative;
            height: 300px;

            img {
                position: absolute;
                display: block;
                width: 1000px;
                max-width: initial !important;
                cursor: move;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                top: 50%;
            }
        }
    }

    .tabs-dropdown {
      display: none;
      position: relative;
      padding: 8px 20px;

      &::before {
        content: "\2630";
        position: absolute;
        right: 20px;
      }
    }

    
    @media (max-width: $tablet-min) {
      
      .tabs-dropdown {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid $c-border;
        text-decoration: none;
        color: $c-text-main;
      }

      .tab-header-wrap {
        min-height: 20px;
        padding: 19px;
        width: 100%;
        position: absolute;
        top: 40px;
        flex-direction: column;
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        z-index: 22;
        display: none ;
      }

      .tab-header.active {
        box-shadow: none;
      }
    }
}
